<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="itemNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.itemNo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inventoryCode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Inventory Code </mat-header-cell>
      <mat-cell *matCellDef="let row" > {{row.inventoryCode}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <button mat-button [matMenuTriggerFor]="localAction">Actions</button>
        <mat-menu #localAction="matMenu">
          <button mat-menu-item [routerLink]="['/items', row.itemNo ]">Edit</button>
          <button mat-menu-item [routerLink]="['/items/qty', row.itemNo]" >Deposit/Withdraw</button>
          <button mat-menu-item (click)="deleteItem(row.itemNo)">Delete</button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
